body {
  background-color: hsl(30, 3%, 14%);
}

.anime-container {
  position: relative;
}
 
.anime-container .dot1 {
  position: absolute;
  /* draw particles as circles: */
  border-radius: 50%;
  background-color: hsl(60, 100%, 80%);
}

.anime-container .dot2 {
  position: absolute;
  /* draw particles as circles: */
  border-radius: 50%;
  background-color: hsl(60, 100%, 80%);
}

.anime-container .input-panel {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: hsl(0, 100%, 100%);
  padding: 20px;
}
.anime-container .input-panel .do-it-button {
  margin-top: 20px;
  width: 80px;
}

.anime-container .input-panel .input-field {
  width: 80px;
}
